
<div class="nav justify-content-between bg-light my-2 rounded shadow-sm sticky-top" style="height: 80px">

            <div><a href="/" class="navbar-brand text-primary font-weight-bold text-monospace pl-3 pt-4">VIM<span class="text-success">Notes</span></a></div>

            <div class="pr-3 pt-3">
                <a href="/notes/create"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-paperclip pr-2"></i>Note</button></a>
                <a href="/lists/create"><button type="button" class="btn btn-success btn-lg"><i class="fa fa-check-square-o pr-2"></i>List</button></a>
            </div>
</div>
