<head>
    <% include ../../partials/head %>
</head>
<header>
    <% include ../../partials/header %>
</header>

<body class="container">

<main>
    <div class="bg-light rounded py-3" style="height: 80vh">

        <div class="form-group w-50 mx-auto">

            <form action="/notes/create" class="form-group" method="POST">
                <input type="text" name="noteTitle"  placeholder="Note Title" class="form-control mb-2" required>
                <textarea name="noteTextContent"  placeholder="Note Content" class="form-control mb-1" rows="10"></textarea>
                <button type="submit" id="add-note" class="btn btn-warning btn-md text-light">Create</button>
                <a href="/"><button type="button" class="btn btn-primary text-light btn-md">Cancel</button></a>
            </form>

        </div>

    </div>
</main>

<footer>
    <% include ../../partials/footer %>
</footer>
</body>