<head>
    <% include ../../partials/head %>
</head>
<header>
    <% include ../../partials/header %>
</header>
<body class="container">
<main>
    <div class="bg-light rounded py-3" style="height: 80vh">
        <div class="form-group w-50 mx-auto">

            <form id="list-form" action="/lists/create" method="POST">
                <input type="text" class="form-control" id="" placeholder="List Title" name="listName" required>
                <input type="text" class="form-control" id="new-item" placeholder="Add an item">
                <input id="add-item" type="button" value="Add" class="btn btn-info btn-md text-light">
                <button type="submit" class="btn btn-warning btn-md text-light" style="left: 47%;">Create</button>
            </form>
            <a href="/"><button type="button" class="btn btn-primary btn-lg">Cancel</button></a>

        </div>
    </div>
</main>
<footer>
    <% include ../../partials/footer %>
</footer>
<script src="/clientJS/lists/create.js"></script>
</body>