<head>
    <% include ../../partials/head %>
</head>
<header>
    <% include ../../partials/header %>
</header>
<body class="container">
<main>
    <div class="bg-light rounded py-3" style="height: 78vh">
        <div class="form-group col-xl-7 col-lg-7 col-md-8 col-sm-10 col-11 center-block mx-auto mx-auto">
            <form id="edit-list-form" method="">
                <div>
                    <input id="idList" type='hidden' value="<%= list._id %>">
                    <input type="text" id="list-name" class="form-control mb-2" value="<%= list.listName %>">
                </div>
                <div id="checks">
                    <%if (list.listItem) { %>
                        <% list.listItem.forEach(function(item) { %>
                        <div class="position-relative mb-1">
                            <input type="checkbox" class="check-item position-absolute mx-1" style="left:0; top:30%" name="task">
                            <input type="text" class="form-control input-item pl-4" value="<%= item %>">
                            <button class="btn btn-sm text-light rounded bg-danger delete-btn position-absolute mr-1" style="right:0; top:10%">x</button>
                        </div>
                        <% }); %>
                    <% } %>
                    <%if (list.listItemChecked) { %>
                        <% list.listItemChecked.forEach(function(item) { %>
                            <div class="position-relative mb-1">
                                <input type="checkbox" class="check-item position-absolute mx-1" style="left:0; top:30%" name="task" checked>
                                <input type="text" class="form-control input-item pl-4" value="<%= item %>">
                                <button class="btn btn-sm text-light rounded bg-danger delete-btn position-absolute mr-1" style="right:0; top:10%">x</button>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
                <button id="plus-btn" type="button" class="btn btn-info btn-md text-light" style="left: 47%;">+</button>
                <button id="save-changes" type="button" class="btn btn-info btn-md text-light" style="left: 47%;">Save changes</button>
                <button id="delete-list" type="button" class="btn btn-info btn-md text-light" style="left: 47%;">Delete list</button>
                <a href="/"><button type="button" class="btn btn-info btn-md text-light" style="left: 47%;">Cancel</button></a>
                <input type='hidden' name='_method' value='put'>
            </form>
        </div>
    </div>
</main>
<footer>
    <% include ../../partials/footer %>
</footer>
<script src="/clientJS/lists/edit.js"></script>
</body>